.DS_Store
.ipynb_checkpoints/
*.zip

holdout-testset-hint/
holdout-test-hint/
holdout-testset-hint.zip

PROG2590-project.docx
Presentation1 [Autosaved].pptx
report.pdf
~$*
.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
*.DS_Store
.ipynb_checkpoints/
__pycache__/
*.pyc
.ipynb_checkpoints
*.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints
*.DS_Store
__pycache__/
*.pyc
